<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navigation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../nav.css" />
</head>

<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <button class="toggle-button">
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
        </button>
        <div class="brand">
            <a href="../nav.html" class="main-header__brand">
                <img src="../naaja-icon.png" alt="NAAJA"> Home
            </a>
        </div>

        <!--NAVIGATION-->
        <!-- DESKTOP NAV -->
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="temp1.html">Template1</a>
                </li>
                <li class="main-nav__item">
                    <a href="../templates/temp2.html">Template2</a>
                </li>
                <li class="main-nav__item">
                    <a href="../templates/temp3.html">Template3</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- MOBILE NAV -->
    <nav class="mobile-nav">
        <ul class="mobile-nav__items">
            <li class="mobile-nav__item">
                <a href="temp1.html">Template1</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../templates/temp2.html">Template2</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../templates/temp3.html">Template3</a>
            </li>
        </ul>
    </nav>
    <main class="main-contents">
        <section>
            <div>
                <h1>Template 1</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </section>
        <section>
            <div>
                <h1>Where does it come from?</h1>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked
                up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word
                in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
                Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of
                ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
                line in section 1.10.32.</p>
            </div>
        </section>

    </main>
    <script src="../nav.js"></script>
</body>

</html>
