<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navigation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../nav.css" />
</head>

<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <button class="toggle-button">
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
            <span class="toggle-button__bar"></span>
        </button>
        <div class="brand">
            <a href="../nav.html" class="main-header__brand">
                <img src="../naaja-icon.png" alt="NAAJA"> Home
            </a>
        </div>

        <!--NAVIGATION-->
        <!-- DESKTOP NAV -->
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="../templates/temp1.html">Template1</a>
                </li>
                <li class="main-nav__item">
                    <a href="temp2.html">Template2</a>
                </li>
                <li class="main-nav__item">
                    <a href="../templates/temp3.html">Template3</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- MOBILE NAV -->
    <nav class="mobile-nav">
        <ul class="mobile-nav__items">
            <li class="mobile-nav__item">
                <a href="../templates/temp1.html">Template1</a>
            </li>
            <li class="mobile-nav__item">
                <a href="temp2.html">Template2</a>
            </li>
            <li class="mobile-nav__item">
                <a href="../templates/temp3.html">Template3</a>
            </li>
        </ul>
    </nav>
    <main class="main-contents">
        <section>
            <div>
                <h1>Template 2</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                    PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </section>
        <section>
            <div>
                <h1>Where can I get some?</h1>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem
                Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators
                on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses
                a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which
                looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic
                words etc.</p>
            </div>
        </section>

    </main>
    <script src="../nav.js"></script>
</body>

</html>
